body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.genres {
    padding: 20px;
}

h2 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card p {
    font-size: 14px;
}
